*.bowerrc
*.orig
*.rbc
.byebug_history
.DS_Store
.env
.idea/*
.rspec
.rvmrc
.yarn-integrity
/.bundle
/coverage/
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*
/public/assets
/public/packs
/public/packs-test
/public/production
/public/system
/spec/tmp
/storage/*
/tmp/*
/vendor/assets/bower_components
/vendor/bundle
/yarn-error.log
bower.json
capybara-*.html
config/database.yml
config/initializers/secret_token.rb
config/master.key
coverage
db/schema_cache.dump
dump.rdb
node_modules/
pickle-email-*.html
rerun.txt
yarn-debug.log*

!/log/.keep
!/storage/.keep
!/tmp/.keep

.vscode/*
!.vscode/launch.json