<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag "home" %>
  <title></title>
</head>
<body>
  <div class='home-title'>
    My Notes App 
  </div>
  <div>
    <div>
      <p class='home-intro'>
      'My notes' its an applications that allow you to take a personal register about notes, organized in books. This tool was thinking like a 'Tomboy' clon, but implement in Ruby on Rails.
      Some of the funcionalities that this app provides are the following :
      </p>
    </div>
  <div>
  <ul>
    <li class='home-functionalities-item'> Manage notes with simple operations. </li>
    <li class='home-functionalities-item'> Persist notes. </li>
    <li class='home-functionalities-item'> Organize notes in books  </li>
  <ul>
  </div>
  <div class='home-ruby-image'>
  
  </div>
  
  
  </div>
</body>
</html>